.root{
    color-scheme: dark light;
    --dialog-background: #ffffff;
    --dialog-border: #c6c6c6;
    --dialog-shadow: 0px 0px 20px 0px #0000002e;
    --dialog-foreground: #000000;
}
.root.dark{
    --dialog-background: #1c1c1c;
    --dialog-border: #393939;
    --dialog-shadow: 0px 0px 20px 0px #00000038;
    --dialog-foreground: #ffffff;
}
html,body{
    height: 100%;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
}
.root{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.dialog{
    padding: 24px 24px 24px 24px;
    min-width: 300px;
    min-height: 312.5px;
    /* height: 300px; */
    margin-bottom: 5vh;
    background: var(--dialog-background);
    border: 1px solid var(--dialog-border);
    box-shadow: var(--dialog-shadow);
    color: var(--dialog-foreground);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.dialog-control{
    display: flex;
    column-gap: 1rem;
}
button{
    appearance: none;
    background-color: var(--accentColor);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 4px; font-size: 1rem;
    padding: 6px 2px;
    width: 100%;
    cursor: pointer;
}