<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenFrp.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenFrp.Launcher.Properties.Settings>
            <setting name="ApplicationTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="UserPwn" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoomErrorMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationBackdrop" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="EnableTextAnimatedHitting" serializeAs="String">
                <value>Animated</value>
            </setting>
            <setting name="UserAvator" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStartupTunnelId" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="NotifyMode" serializeAs="String">
                <value>NotifyIconDefault</value>
            </setting>
            <setting name="UseDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTlsEncrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAuthorization" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenFrp.Launcher.Properties.Settings>
    </userSettings>
</configuration>