<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenFrp.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenFrp.Launcher.Properties.Settings>
            <setting name="ApplicationTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="BackdropType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="LogFontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLoginId" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationMode" serializeAs="String">
                <value>ToastNotification</value>
            </setting>
            <setting name="UseForceTls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotAskMeForUrlSchemeTools" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseConfigLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLaunchTunnel" serializeAs="String">
                <value />
            </setting>
            <setting name="DoNotNoticeAutoLaunchTunnelMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoNotNoticeErrorMsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTitlebarBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWebView2Tools" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseGridViewTunnelFeature" serializeAs="String">
                <value>True</value>
            </setting>
        </OpenFrp.Launcher.Properties.Settings>
    </userSettings>
</configuration>